*{
margin: 0;
padding: 0;
}
header{
    display: flex;
    padding: 1rem 1rem 1rem 1rem;
    flex-direction: row;
    font-size: 2rem;
    font-family: 'Patua One', cursive;
    justify-content: space-between;
    margin-bottom: 4rem;
    border-bottom: 1.5px solid rgb(215, 215, 215);
}
.inputMat{
    display: block;
    margin: auto;
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif; 
}
table{
    /* transform: scale(0.9); */
    height: auto;
    width: auto;
    margin: auto;
}
.letter{
    height: 3.7rem;
    width: 3.7rem;
    margin: auto;
    text-transform: uppercase;
    background: transparent;
    font-size: 1.8rem;
    font-weight: 800;
    text-align: center;
    border: 2px solid rgb(205, 205, 205);
}
.letter:focus{
    caret-color: transparent;
    outline: 2px solid black;
    animation: keyEnter 0.3s;
}
.letterOutline{
    border: 2px solid rgb(137, 137, 137);
}
.btn{
    height: 3rem;
    width: 3rem;
    margin: auto;
    background: rgb(225, 223, 223);
    font-size: 1.8rem;
    font-weight: 800;
    text-align: center;
    border: 2px solid rgb(205, 205, 205);
    border-radius: 6px;
}

.correct{
    color: white;
    border: 2px solid rgb(110, 198, 110);
    background-color: rgb(92, 185, 92);
}
.present{
    color: white;
    border: 2px solid rgb(224, 203, 69);
    background-color: rgb(224, 203, 69);
}
.wrong{
    color: white;
    border: 2px solid rgb(115, 120, 126);
    background-color: rgb(115, 120, 126);
}

@keyframes keyEnter {
    0% {transform: scale(1);}
    50% {transform: scale(1.07);}
    100% {transform: scale(1);}
}
